<div class="_main-content _middle-content _relative">
    <div style="margin-top:70px">
        <div>
            <div class="md-3-line md-lis" ng-repeat="worker in vm.sampled_workers"
                 ng-click="vm.pick = worker.id"
                 ng-class="{'_selected-task': vm.pick == worker.id}">
                <div class="md-list-item-text">
                    <h3>WorkerID: {{ worker.id }}</h3>
                    <p ng-repeat="sample in worker.samples">{{$index+1 +'. '}}<span
                            style="color: rgba(0,0,0, 0.34)">{{ sample.task_data }}</span>
                        {{ sample.result }}</p>
                </div>
            </div>
        </div>
        <!--<md-button ng-disabled="!vm.pick" style="" class="md-accent" ng-click="vm.postChoices()">Next
        </md-button>-->
    </div>

    <div ng-if="vm.requester_config.phase>3 && vm.round>9" class="_important">All done, thank you for rating. If you are
        a Mechanical Turk worker, please return to the HIT and enter your completion code: 7DW0KW!q4!. Otherwise, please
        notify us via email that you have finished the study. Thanks!
    </div>
</div>
